@charset "utf-8";
#hd {
	text-align: center;
	font-size: 258%;
	color: #FFFFFF;
	line-height: 95%;
	font-weight: bold;
}
.div1 {
	color: #F0FF00;
	font-weight: bold;
	font-size: 219%;
	margin-left: 20%;
	margin-right: 20%;
}
.div1 #divice1 {
	background-color: #392038;
	border-radius: 155px;
}

.div1 #divice2 {
	background-color: #392038;
	border-radius: 155px;
}

.div1 #divice3 {
	background-color: #392038;
	border-radius: 155px;
}

.div1 #divice4 {
	background-color: #392038;
	border-radius: 155px;
}
.but1 {

}
.div1 #divice1 .button1 {
	font-weight: bold;
	font-size: 16px;
	border: none;
	background-color: #4CAF50;
	color: white;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 9%;
	border-radius: 18px;
	cursor: pointer;
}
.div1 #divice2 .button3 {
	font-weight: bold;
	border: none;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 18px;
	cursor: pointer;
	margin-left: 9%;
}
.div1 #divice3 .button5 {
	font-weight: bold;
	border: none;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	border-radius: 18px;
	cursor: pointer;
	margin-left: 9%;
}
.div1 #divice4 .button7 {
	font-weight: bold;
	border: none;
	font-size: 16px;
	background-color: #4CAF50;
	color: white;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 9%;
	border-radius: 18px;
	cursor: pointer;
}
.div1 #divice2 .button4 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #FF007E;
	color: white;
	padding-top: 22px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 22px;
	text-align: center;
	border-radius: 18px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-left: 9%;
}
.div1 #divice1 .buttn2 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #FF007E;
	color: white;
	padding-top: 22px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 22px;
	text-align: center;
	border-radius: 18px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-left: 9%;
}
.div1 #divice3 .button6 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #FF007E;
	color: white;
	padding-top: 22px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 22px;
	text-align: center;
	border-radius: 18px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-left: 9%;
}
.div1 #divice4 .button8 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #FF007E;
	color: white;
	padding-top: 22px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 22px;
	text-align: center;
	border-radius: 18px;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-left: 9%;
}

.div1 #divice1 .ack1 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #43F0FF;
	color: #FF0004;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	padding-bottom: 22px;
	border-radius: 18px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 9%;
}
.div1 #divice2 .ack2 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #43F0FF;
	color: #FF0004;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	border-radius: 18px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 9%;
}
.div1 #divice3 .ack3 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #43F0FF;
	color: #FF0004;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	border-radius: 18px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 9%;
}
.div1 #divice4 .ack4 {
	border: none;
	font-weight: bold;
	font-size: 16px;
	background-color: #43F0FF;
	color: #FF0004;
	padding-top: 22px;
	padding-right: 35px;
	padding-left: 35px;
	border-radius: 18px;
	padding-bottom: 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-left: 9%;
}
.div1 #divice1 .ack1 {
}
